.split-line {
  background: #f8f9fb;
  padding: 16px;
  border-radius: 8px;
  width: 100%;

  :global(.ant-space-item) {
    flex: 1;
  }
}

.view {
  color: #22d5ab;
  font-size: 18px;
  font-weight: bold;

  &.red {
    color: #ed4e45;
  }
}

.performance-description {
  text-align: center;
}

.performance-progress {
  :global {
    .ant-progress-outer {
      margin-right: 0 !important;
      padding-right: 0 !important;
    }
  }
}
