.core-container-body {
  .ant-btn.btn-no-gap {
    gap: 0;
  }

  .ant-card-head-title {
    padding: 0;
  }

  .ant-popover-inner-content {
    box-shadow: none;
  }

  .ant-popover-arrow {
    border: none;
  }

  .ant-popover {
    padding: 0;
  }

  .ant-btn-primary {
    border-color: transparent;
  }

  .ant-menu-item {
    background-color: #ffffff !important;
    padding: 0 16px !important;

    &.ant-menu-item-selected {
      background-color: #f0f7ff !important;
    }
  }
}
