.core-container-body,
.modal-container {
  .ant-btn.btn-no-gap {
    gap: 0;
  }

  .ant-card {
    color: #222222;
  }

  .ant-card-head-title {
    padding: 0;
  }

  .ant-popover-inner-content {
    box-shadow: none;
  }

  .ant-popover-arrow {
    border: none;
  }

  .ant-popover {
    padding: 0;
  }

  .ant-btn-primary {
    border-color: transparent;
  }

  .ant-menu-item {
    background-color: #ffffff !important;
    padding: 0 16px !important;

    &.ant-menu-item-selected {
      background-color: #f0f7ff !important;
    }
  }

  .ant-row {
    display: flex;
  }

  .react-form__field-input {
    .ant-row .ant-btn {
      border-color: transparent !important;
    }
  }

  .ant-tabs-nav .ant-tabs-tab {
    height: unset;
    padding: 12px 0;
    margin: 0;
  }

  .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 32px;
  }

  .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
    margin: 16px 0 0 0;
  }

  .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 24px;
  }
}
